body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.container {
    margin-bottom: 50px;
    border: solid 1px rgb(228, 227, 227);
    border-bottom: none;
    /* border-radius: 5px; */
}

.row {
    border-bottom: solid 1px rgb(228, 227, 227);
}

.date {
    text-align: center;
    padding-top: 30px;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: solid 1px rgb(228, 227, 227);
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
}

#currentDay {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    /* font-family: 'Questrial', sans-serif; */
    text-transform: uppercase;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    padding: 0;
}

.row {
    height: 80px;
    border-top: 1px solid white;;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    /* border-top: 1px dashed #000000; */
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    font-weight: 800;
}

.past {
    background-color: rgb(250, 249, 249);
    color: white;
}

.present {
    background-color: #9dd8f0;
    color: white;
}

.future {
    background-color: #ffe7b4;
    color: white;
}

button {
    border: none;
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
    border-radius: 100%;
    background-color: #ffc5b4;
    box-shadow: 2px 2px 1px rgb(104, 104, 104);
    color: white;
    padding: 0;
    width: 60%;
    height: 60%;
    margin-top: 15px;
}

button:hover {
    background-color: #e27f61;
    /* font-size: 20px;
    transition: all .3s ease-in-out; */
}

button:active {
    box-shadow: none;
    margin-left: 5px;
    margin-top: 17px;
}

button:focus {
    outline: none;
}

.saveBtn {
    padding: 0;
    text-align: center;
}

i {
    pointer-events: none;
}